/*                home text                    */

.home-text{
    margin-top: 20%;
    font-size: 30px;
}

.home-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.home-text h1 span{
    color: #ff004f;
}